@model consumer_ui.Models.ArtistDetail

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Artist details</h1>

<div>
    <h4>ArtistDetail</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SongTitles)
        </dt>
        <dd class = "col-sm-10">
            @foreach (var item in Model.SongTitles)
            {
                @Html.DisplayFor(model => item)
                <br>
            } 
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
